/* 커스텀 폰트 넣는 법 */
/* 한글폰트 사이즈는 너무 큼 1~2개만 쓰자 용량 줄이려면 .woff쓰자 ttf의 1/3수준 */
@font-face {
    font-family: '이쁜폰트';
    src : url(../font/NanumSquareR.woff);
}


div,input,textarea{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: '이쁜폰트', 'gulim', 'dotum', 'arial';
    /* font-family는 inherit(상속)됨 여러개 적는 이유는 앞에꺼 없으면 다음꺼 적용해주세요 */
}

/* 폰트 부드럽게 보이게 하는 팁 */
p,h4,h3,h2,h1,span{
    transform: rotate(0.03deg);
}

.shop-bg{
    background-color: #eee;
    padding: 20px;
}

.shop-container {
    display:flex;
    width: 90%;
    margin:auto;
}

.shop-item{
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display: block;
}

.overlay{
    position: absolute;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity:0;
    transition: all 1s;
    /* 스타일이 변하면 1초에 걸쳐서 서서히 변경시켜주세요 */
    transition-timing-function: cubic-bezier(1,-0.08,.95,.49);
}
.overlay:hover {
    opacity: 1;
}

.overlay-wrap {
    position : absolute;
    width : 100%;
    height : 100%;
    overflow : hidden
  }
.overlay-wrap:hover .overlay-black {
    margin-top: 50%;
}

.overlay-black {
    width : 100%;
    height : 100%;
    background : rgba(0,0,0,0.3);
    padding : 20px;
    margin-top : 50%;
    transition: all 1s;
  }